# @file .env.master
# @brief Environment configuration file

# Domain DNS Name
DOMAIN_NAME=domain.name.linked.to.host.IP
DOMAIN_EMAILID=email.ID.linked.to.domain.name
DOMAIN_SERVERID='/domain/server/Id'

# Docker Application 
DOCKER_APP=true

# Microserver Host IP's
# Eg. NGINX_HOST=0.0.0.0/127.0.0.1/localhost
NGINX_HOST=host.public.IP
ML_HOST=your.server.host.local.IP
REDIS_HOST=your.server.host.local.IP
MEDIA_HOST=your.server.host.local.IP
RUST_HOST=your.server.host.local.IP
WEBNET_HOST=your.isolated.server.host.local.IP

# Microserver Port's
# Nginx SSL port
NGINX_PORT_HTTPS=443
# Nginx port
NGINX_PORT_HTTP=80
# ML Port For production in Docker
ML_PORT=8082 
# ML Port For development localy
ML_DEV_PORT=8300 
# ML Port For Live Jupiter Notebooks
NOTEBOOK_PORT=8400 
# Dashboard NodeJs Port
MEDIA_PORT=8086
# WebSocket Streams Port
WEBSOCKET_PORT=8087
# Rust Microserver Port
RUST_PORT=8183
# WebNet Browser Port
WEBNET_PORT=8182
# Redis server port
REDIS_PORT=6380
# Redis Insight GUI will always runs on a default ip 
REDISINSIGHT_PORT=5540
# always check the port in the docker container is accesable cmds:
# 'docker ps'
# 'docker exec -it redisinsight-microserver printenv | grep REDISINSIGHT_PORT'
# 'docker exec -it redisinsight-microserver netstat -tuln'
# 'docker exec -it redisinsight-microserver lsof -i -P -n'
# 'docker exec -it redisinsight-microserver ps aux '
# then update port accordingly here

# Network Security & Authentication
USE_AUTH=false
# Moc Auth for Testing 
AUTH_USERNAME='username'
AUTH_PASSWORD='user_password'
# Data Encription
USE_ENCRYPTION=false
ENCRYPTION_KEY=your-encription-key
# JWT Configuration
JWT_SECRET_KEY=your-shared-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# SSL Authentication
USE_SSL=false
SSL_PATH='/path/to/local/ssl/folder'
SSL_VOL='/etc/nginx/ssl'
SSL_PASS='ssl_password'
SSL_KEY='your.ssl.key.here-key.pem'
SSL_CERT='your.ssl.certificate.here-crt.pem'

# Media Folder
MEDIA_PATH='/path/to/local/ssl/folder'
# Comment the following line if not running dashboard microserver in a docker container
MEDIA_VOL=/DBmedia
DB_VIDEOS=/DBvideo
DB_IMAGES=/DBimage
DB_FILE=/DBfile
DB_ARCHIVES=/DBarchive

# Python ML Config
CONDA_ENV_NAME='virtualworkspace-microserver'
# Environment Selection (Change between 'development'or 'production' for settings)
ML_ENVIRONMENT=development    
LOG_FILE=app.log
OPENAI_API_KEY="sk-YourOpenAIAPIKey"
OPENAI_ASSISTANT_ID="YourAssistantID"  
GOOGLE_API_KEY=your_google_api_key

# WebNet Config
# WebNet Browser MAC ID
WEBNET_MAC=02:42:ac:1c:00:02

# Redis Config
# @brief Redis server password
# This sets the password required for clients to authenticate with the Redis server.
REDIS_PASSWORD='redis_password'
# @brief RedisMemory Settings: 
# Depending on your workloads (especially with modules like RediSearch and RedisTimeSeries, 
# which can be memory-intensive), consider increasing the maxmemory setting based on the 
# available resources in your system. 
# Eg. 
# Dataset Size	     :  Estimated Memory Required
# 10 million vectors : ~60GB
# 50 million vectors : ~300GB
# 100 million vectors: ~600GB
REDIS_MEMORY='100mb'
# @brief Redis database number
# This sets the default database number for this Redis instance.
REDIS_DB=0
# @brief Path for Redis config data storage
REDIS_LOCAL_PATH=./redis-data
# AOF and RDB Persistent data storage
# @brief Base path for data storage
# This sets the Docker base directory path for storing data files.
REDIS_DOCKER_DATA_PATH=./redis-data
# @brief Path for Redis data storage
# This sets the local directory path for storing Redis data files, such as AOF and RDB files.
REDIS_LOCAL_DATA_PATH=${REDIS_LOCAL_PATH}/data

# # STUN/TURN - NAT Traversal Service and (WebRTC Live streaming)
# TURN_PORT=3478
# # TURNS_PORT=5349
# TURN_MIN_PORT=49152
# TURN_MAX_PORT=49172
# TURN_PUBLIC_IP=your_public_ip_here
# TURN_REALM=your_realm_here
# TURN_SECRET=your_secret_key_here
