# @file .env.example
# @brief Example environment configuration file

# Docker Application 
DOCKER_APP=true

# Application Address
# @brief Host for the application to listen on
# This sets the Host Name on which the application listens for incoming connections.
# IMPORTANT MANUALY FILL THE IP 
# APP_HOST=127.0.0.1
# APP_HOST=localhost
APP_HOST=Domain.name.linked.to.host.IP
# @brief Port for the application to listen on
APP_PORT=8084

ML_HOST=your.server.host.local.IP
REDIS_HOST=your.server.host.local.IP
STREAMS_HOST=your.server.host.local.IP

# Environment variables for Nginx Reverse Proxy
NGINX_HOST=your.server.host.public.IP
NGINX_PORT_HTTP=8080
NGINX_PORT_HTTPS=443

# WebNet Browser
WEBNET_HOST=your.server.host.local.IP
WEBNET_PORT=8182
WEBNET_MAC=02:42:ac:1c:00:02

# SSL Certificate
USE_SSL=false
SSL_PATH=/path/to/local/ssl/folder
SSL_VOL=/ssl
SSL_PASS='password'
SSL_KEY='your_ssl_key_here-key.pem'
SSL_CERT='your_ssl_certificate_here-chain.pem'

# User Authentication
USE_AUTH=false
AUTH_USERNAME=username
AUTH_PASSWORD=password


# Media Folder
MEDIA_PATH=/path/to/local/ssl/folder
# Comment the following line if not running dashboard microserver in a docker container
MEDIA_VOL=/DBmedia
DB_VIDEOS=/DBvideo
DB_IMAGES=/DBimage
DB_FILE=/DBfile
DB_ARCHIVES=/DBarchive

# Python
CONDA_ENV_NAME=virtualworkspace-microserver
OPENAIAPI_KEY=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
ML_PORT=8082
# Python Debugs
FASTAPI_PORT=8300
NOTEBOOK_PORT=8400
CHATGPT_PORT=8450

# Streams
STREAMS_PORT=8086
# Streams Debugs
WEBSOCKET_PORT=8087
UNITY_PORT=8088
# PEERJS_PORT=8089
# SOCKETIO_PORT=8090

# STUN/TURN - NAT Traversal Service 
TURN_PORT=3478
# TURNS_PORT=5349
TURN_MIN_PORT=49152
TURN_MAX_PORT=49172
TURN_PUBLIC_IP=your_public_ip_here
TURN_REALM=your_realm_here
TURN_SECRET=your_secret_key_here

# Redis
# @brief Redis server password
# This sets the password required for clients to authenticate with the Redis server.
REDIS_PASSWORD=mysecretpassword
# @brief Redis server port
# This sets the port number on which the Redis server listens for incoming connections.
REDIS_PORT=6380
# @brief Redis database number
# This sets the default database number for this Redis instance.
REDIS_DB=0

# Redis Modules
# @brief Enable or disable RedisJSON module (1 to enable, 0 to disable)
# This setting enables or disables the RedisJSON module, which provides JSON support in Redis.
REDISJSON_ENABLED=1
# @brief Enable or disable RediSearch module (1 to enable, 0 to disable)
# This setting enables or disables the RediSearch module, which provides full-text search capabilities within Redis.
REDISSEARCH_ENABLED=1
# @brief Enable or disable RedisBloom module (1 to enable, 0 to disable)
# This setting enables or disables the RedisBloom module, which adds support for probabilistic data structures like Bloom filters and Count-Min Sketches to Redis.
REDISBLOOM_ENABLED=1
# @brief Enable or disable RedisGraph module (1 to enable, 0 to disable)
# This setting enables or disables the RedisGraph module, which adds support for graph database operations in Redis.
REDISGRAPH_ENABLED=1
# @brief Enable or disable RedisTimeSeries module (1 to enable, 0 to disable)
# This setting enables or disables the RedisTimeSeries module, which adds support for time series data structures in Redis.
REDISTIMESERIES_ENABLED=1
# @brief Enable or disable RedisAI module (1 to enable, 0 to disable)
# This setting enables or disables the RedisAI module, which adds support for AI and vector operations in Redis.
REDISAI_ENABLED=1

# Cache
# @brief Cache server host
# This sets the hostname or IP address of the cache server.
CACHE_HOST=${APP_HOST}
# @brief Cache server port
# This sets the port number on which the cache server listens for incoming connections.
CACHE_PORT=6380
# @brief Cache database number
# This sets the default database number for the cache server.
CACHE_DB=1

# PubSub
# @brief PubSub server host
# This sets the hostname or IP address of the PubSub server.
PUBSUB_HOST=${APP_HOST}
# @brief PubSub server port
# This sets the port number on which the PubSub server listens for incoming connections.
PUBSUB_PORT=6380
# @brief PubSub database number
# This sets the default database number for the PubSub server.
PUBSUB_DB=2

# Persistent data storage
# @brief Base path for data storage
# This sets the base directory path for storing data files.
DATA_PATH=./data
# @brief Path for Redis data storage
# This sets the directory path for storing Redis data files, such as AOF and RDB files.
REDIS_DATA_PATH=${DATA_PATH}/redis

# Backup
# @brief Base path for backup storage
# This sets the base directory path for storing backup files.
BACKUP_PATH=./backup
# @brief Path for Redis backup storage
# This sets the directory path for storing Redis backup files, such as AOF and RDB snapshots.
REDIS_BACKUP_PATH=${BACKUP_PATH}/redis

